@import "../../../../scss/variable.scss";


// .ant-table-summary {
// 	background-color: #e6eff5; /* สีสำหรับแถวที่เป็นคี่ */
// 	z-index: 0;
// 	border-bottom-width: 1px;
// }


tfoot, tfoot th,
tfoot td, .ant-table-summary{
  background: #DBD8D8;
  z-index: 0;
}
:global {
	.footer {
	  color: #ccc;
	}
	.sider {
	  background: #ebebeb;
	}
  } 