@import "../../scss/color-variable.scss";
@import "../../scss/font.scss";

.base-antd-preview {
	.ant-upload-list-item-name {
		transition: all 0.3s;
		cursor: pointer;
		&:hover {
			color: #1677ff;
		}
	}
}
