.small {
	min-width: 240px;
	height: 48px;
	padding: 4px 0px;
}

.middle {
	min-width: 240px;
	height: 56px;
	padding: 8px 0px;
}

.large {
	min-width: 240px;
	height: 60px;
	padding: 10px 0px;
}

.extraWide {
	min-width: 506px;
	height: 60px;
	padding: 10px 0px;
}
