$deep-green-900: #163841;

$grey-500: #4B5760;

$green-600: #09AA6A;

$red-400: #E29494;


$deep-green-900:         #1c4651;   // Primary Default
$deep-green-800:         #112a31;   // Primary Dark
$deep-green-600:         #779097;   // Primary Bright

$yellow-700:             #fbc108;   // Secondary Default
$yellow-900:             #c99a06;   // Secondary Yellow

$grey-900:               #212121;   // Text Title
$grey-400:               #bababa;   // Text Description

$yellow-600:             #f9c802;   // Waiting Yellow700
$red-900:                #c42828;   // Error Red900

$grey-400-disable:       #bababa;   // Disable Grey50
$grey-100-border:        #dedede;   // Border Grey100
$background-grey-50:     #f1f4f7;   // Background

